body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;    
    /*background-image:url('../Images/C8 Chevy Corvette Stingray.jpg');*/
    background-size: cover;
}

#Review Section article {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    display: grid;
    border-style: solid;
    justify-content: center;
}

 h4{
    display: grid;
    border-style: solid;
    justify-content: center;
 }

.post {
    display: grid;
    border-style: solid;
    justify-content: center;
    opacity: 0.7;
    background-color: lightgray;
}
.category {
    opacity: 0.7;
    background-color: lightgray;
    border-style: solid;
    display:flex;
    justify-content:center;
}
.content-index {
    opacity: 0.7;
    background-color: lightgray;
    display: grid;
    justify-content: center;
}
.car-list {
    opacity: 0.7;
    background-color: lightgray;
    display: grid;
    justify-content: center;
}
.car-list-post {
    opacity: 0.7;
    background-color: lightgray;
    display: grid;
    justify-content: center;
}
.index {
    opacity: 0.7;
    background-color: lightgray;
}
.categoryList {
    display: grid;
    border-style: solid;
    justify-content: center;
    opacity: 0.7;
    background-color: lightgray;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    margin-left: 100px;
    margin-right: 100px;
}

.categoryImage{
    height: 20%;
    width: 15%;
}
.update-content {
    display: grid;
    border-style: solid;
    justify-content: center;
    opacity: 0.7;
    background-color: lightgray;
}
.update-title {
    display: grid;
    border-style: solid;
    justify-content: center;
    opacity: 0.7;
    background-color: lightgray;
}

.create-byId {
    display: grid;
    justify-content: center;
    border-style: solid;
    opacity: 0.7;
    background-color: lightgray;
}
.create-title {
    display: grid;
    justify-content: center;
    border-style: solid;
    opacity: 0.7;
    background-color: lightgray;
}
.delete-title {
    display: grid;
    justify-content: center;
    border-style: solid;
    opacity: 0.7;
    background-color: lightgray;
}
.delete {
    display: grid;
    justify-content: center;
    border-style: solid;
    opacity: 0.7;
    background-color: lightgray;
}
/*ADD DEMENSION TO CHANGE COLOR BASED OFF OF IMAGE COLOR SET TO AUTOMATED CIRCLES*/
.details-title {
    display: grid;
    justify-content: center;
    border-style: solid;
    opacity: 0.7;
    background-color: lightgray;
}
.content-details {
    display: grid;
    justify-content: center;
    border-style: solid;
    opacity: 0.7;
    background-color: lightgray;
}
.row {
    display: grid;
    border-style: solid;
    justify-content: center;
}
