@model IEnumerable<CarReview.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
    <title>Index Main Page</title>
</head>
<body>
    <h2 class="mainPageTitle">Main Page</h2>
    <h3 class="CategoryIndex">Car Categories</h3>
    <div class="categoryViewAll">
        @foreach (var category in Model)
        {
            <article class="category">
                <p class="categoryTitle">
                    Title:
                    <a href="/Category/Details/@category.CategoryId">@category.CategoryName</a>
                </p>
                <p>
                    <img src="@category.Image" alt="image# @category.CategoryId" />
                </p>
                <div><a href="/Category/Details/@category.CategoryId"> @category.Image</a></div>
            </article>

        }
        @* 'CREATE BLOG' *@
        @* UPDATE CATEGORY PROPERTIES FROM THIS PAGE *@
        <a href="/Content/Index"> View all car reviews </a>  @* STEP 1: LEADS TO DELETE ACTION *@
    </div>

</body>
</html>
