@model IEnumerable<CarReview.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
    <title>Index Main Page</title>
</head>
<body>
    <h2 class="mainPageTitle">Main Page</h2>
    <h3 class="CategoryIndex">Car Categories</h3>
    <div class="categoryViewAll">
        @foreach (var category in Model)
        {
            <article class="category">
                <section class="categoryTitle">
                    Title:
                    <a href="/Category/Details/@category.CategoryId">@category.CategoryName</a>
                </section>
                <section>
                <img class="categoryImage" src="~/images/@category.CategoryImage" alt="image#@category.CategoryId" />
                </section>
            </article>

        }
        <a href="/Content/Index"> View all car reviews </a>  @* STEP 1: LEADS TO DELETE ACTION *@
        @* 'CREATE BLOG' *@
        @* UPDATE CATEGORY PROPERTIES FROM THIS PAGE *@
    </div>

</body>
</html>
