@model IEnumerable<CarReview.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    @* <link rel="stylesheet" type="text/css" href="~/images/" />*@
    <title>Index</title>
</head>
<body class="index" id="mainPage">
    <h1 class="mainPageHeading">Car Categories</h1>
    <div class="mainPageList">
        @foreach (var category in Model)
        {
            <div class="forEachCategory">
                <div class="categoryTitle">
                    <a href="/Category/Details/@category.CategoryId">
                        <span>@category.CategoryName Transportation</span>
                    </a>
                </div>
            </div>
        }
        @foreach (var image in Model)
        {
            <div class="categoryImage">
                "Image"
                @*Modify image source please!!!*@
                <img src="@image.Image" alt="@image.CategoryId" />
            </div>
        }
        <div class="mainPageLinks">
            <a href="/Content/Index"> View blog's content</a>
        </div>
    </div>

</body>
</html>
