@model IEnumerable<CarReview.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Images/"/>
    <title>Index</title>
</head>
<body>
    <h1 class="index" id="mainPage">Car Categories</h1>
    <div class="categoryList">
        @foreach (var category in Model)
        {
            <article class="category">
                <a class="categoryTitle" href="/Category/Details/@category.CategoryId">@category.CategoryName</a>
                @*Modify image source please!!!*@
                <img src="" alt="image# @category.CategoryId" />
            </article>

        }
        <a href="/Content/Index"> View blog's content</a>
    </div>

</body>
</html>
